* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  overflow-x: hidden;
}
html {
  background-color: #faece1;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/*  Nav  */
.primary-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1.5em;
  background-color: #292929;
}

.primary-header-brand {
  color: #f2cdc1;
}
.primary-nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.primary-nav a {
  color: #f2cdc1;
}
.primary-nav a:hover {
  color: #f5a98f;
}
.mobile-nav-toggle {
  display: none;
}

.primary-nav a {
  text-decoration: none;
}

.sr-only {
  visibility: hidden;
}

/* Carousel */

.carousel {
  position: relative;
  height: 700px;
  width: 100vw;
  margin: 10rem auto;
  background: lightblue;
}

.carousel > li {
  transform: translateY(100%);
  transition: 500ms transform ease-in-out;
}

.carousel__slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.carousel__slide[data-active] {
  visibility: visible;
  z-index: 1;
}

.carousel__slide--1 {
  background: #015243;
}
.carousel__slide--2 {
  background: #00342b;
}
.carousel__slide--3 {
  background: #103f54;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 10;
  color: rgb(255, 255, 255);
}

.carousel__button--right {
  right: 0;
}
.carousel__button--left {
  left: 0;
}

.carousel__button img {
  width: 25px;
  margin: 0 1em;
}
/* ---------------------- RESPONSIVE------------------- */
@media (max-width: 35em) {
  .primary-nav {
    gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    aspect-ratio: 1;
    width: 2rem;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    background: url();
    background-repeat: no-repeat;
    border: 0;
    border: 2px solid black;
  }
}
